<!doctype html>
<html>
    <head>
        <title>Octavia</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/Octavia.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/ui-darkness/jquery-ui.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/JSON2.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-ui.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/Octavia.js') }}"></script>
    </head>
    <body class="ui-widget-overlay" style="margin:0px">
        <div class="ui-widget ui-corner-all" style="margin:8px;">
            <div class="ui-widget-header ui-corner-all">
                Octavia Media Player
            </div>
            <div class="ui-widget-content ui-corner-all">
    {% block body %}
    {% endblock body %}
            </div>
        </div>
    </body>
</html>
