{% from '_helpers.html' import button %}
{% block body %}
<div class="library root">
    <div class="Octavia-song ui-corner-all" id="SONG_BASE">
        <span class="title" />
    </div>
    <div class="Octavia-directory ui-corner-all" id="DIR_BASE">
        {{ button (
            'ui-icon-carat-1-se', 'Expand',
            activation='(function(element){
                var elem = $(element).closest(\'div.Octavia-directory\');
                elem.children(\'div.items\').show();
                elem.children(\'div:has(span.ui-icon-carat-1-se):first\').hide();
                elem.children(\'div:has(span.ui-icon-carat-1-n):first\').show();
                var path = elem.data(\'ITEM\').directory;
                Octavia.library.update(element, path);
            })(this)'
        ) }}
        {{ button (
            'ui-icon-carat-1-n', 'Collapse',
            activation='(function(element){
                var elem = $(element).closest(\'div.Octavia-directory\');
                elem.children(\'div.items\').hide();
                elem.children(\'div:has(span.ui-icon-carat-1-se):first\').show();
                elem.children(\'div:has(span.ui-icon-carat-1-n):first\').hide();
            })(this)'
        ) }}
        {{ button (
            'ui-icon-plus', 'Add',
            activation='(function(element){
                var elem = $(element).closest(\'div.Octavia-directory\');
                var path = elem.data(\'ITEM\').directory;
                Octavia.queue.list.add(element, path);
            })(this)'
        ) }}
        <span class="title" />
        <div class="items" />
    </div>
    <div class="items" />
</div>
<script type="text/javascript">
    $(function(){
        $('div.library div.button:has(.ui-icon-carat-1-n)').hide();
        songBase = $('div.library div#SONG_BASE').detach();
        songBase.removeAttr('id');
        dirBase = $('div.library div#DIR_BASE').detach();
        dirBase.removeAttr('id');
        library = {
            '': $('div.library')
        }
        Octavia.library.subscribe(function (event, data, path){
            console.log(library);
            if (path.length > 0 && path[0] !== '/'){
                path = path
            }
            var dir = library[path];
            if ( !dir ) {
                console.error('DANGER! DANGER! '+path+' not found!');
                return;
            }
            container = dir.children('div.items');
            container.children('Octavia-song').remove();
            dir.data('CONTENTS', data);
            for (var i = 0; i < data.length; i += 1){
                if (data[i].directory){
                    if (!library[data[i].directory]) {
                        var item = dirBase.clone(true);
                        item.data('ITEM', data[i])
                        var title = data[i].directory.split('/').pop();
                        $('span.title', item).html(title);
                        library[data[i].directory] = item;
                        container.append(item);
                    }
                } else {
                    var item = songBase.clone(true);
                    item.data('ITEM', data[i]);
                    $('span.title', item).html(data[i].title);
                    container.append(item);
                }
            }
        });
        Octavia.library.update(library[''],'');
    });
</script>
{% endblock %}
