{% from '_helpers.html' import button %}
{% block body %}
<div class="playlist">
    <div class="Octavia-song ui-corner-all" id="SONG_BASE">
        {{ button (
            'ui-icon-play', 'Play',
            activation='(function(element){
                    var elem =$(element).closest(\'div.Octavia-song\');
                    var id = elem.data(\'SONG\').id;
                    Octavia.queue.status.go(elem, id);
                })(this)'
        ) }}
        {{ button (
            'ui-icon-trash', 'Remove',
            activation='(function(element){
                    var elem =$(element).closest(\'div.Octavia-song\');
                    var id = elem.data(\'SONG\').id;
                    Octavia.queue.list.remove(elem, id);
                })(this)'
        ) }}
        <span class="title" />
    </div>
</div>
<script type="text/javascript">
    $(function(){
        base = $('div.playlist div#SONG_BASE').detach();
        Octavia.queue.list.subscribe(function (event, data){
            var container = $('.playlist').empty();
            for (var i = 0; i < data.length; i+=1) {
                var item = data[i]
                var row = base.clone(true);
                row.data('SONG', item);
                $('span.title', row).html(item.title);
                row.attr('id', item.id);
                container.append(row);
            }
        });
        Octavia.queue.status.subscribe(function(event, data){
            $('div.playlist div.ui-state-active').removeClass('ui-state-active');
            $('div.playlist div#'+data.id).addClass('ui-state-active');
        });
        Octavia.queue.list.update();
    });
</script>
{% endblock %}
