{% from '_helpers.html' import button, span %}
<div class="status">
    <div>
        {{ span ('title', 'queue.status', 'data.title') }} 
        -
        {{ span ('artist', 'queue.status', 'data.artist') }}
    </div>
    <div>
        {{ span ('album', 'queue.status', 'data.album') }}
    </div>
    {{ button('ui-icon-seek-first', 'First', activation='Octavia.queue.status.first()' ) }}
    {{ button('ui-icon-seek-prev', 'Previous', activation='Octavia.queue.status.prev()' ) }}
    {{ button('ui-icon-stop', 'Stop', activation='Octavia.playback.stop(this)') }}
    {{ button('ui-icon-play', 'Play', 'playback', 
        'function(event, data) { 
            elem = $("div.status .ui-icon-play").parent(); 
            if (data.playback === "play"){
                elem.hide();
            } else {
                elem.show()
            }
        }',
        'Octavia.playback.play(this)') }}
    {{ button('ui-icon-pause', 'Pause', 'playback', 
        'function(event, data) { 
            elem = $("div.status .ui-icon-pause").parent(); 
            if (data.playback !== "play"){
                elem.hide();
            } else {
                elem.show()
            
            }
        }',
        'Octavia.playback.pause(this)') }}
    {{ button('ui-icon-seek-next', 'Next', activation='Octavia.queue.status.next()' ) }}
    {{ button('ui-icon-seek-end', 'Last', activation='Octavia.queue.status.last()' ) }}
    <div class="button">&nbsp;</div>
    {{ button('ui-icon-arrowreturn-1-n', 'Single', 
        'playback',
        'function(event, data) {
            elem = $("div .ui-icon-arrowreturn-1-n").parent();
            if (data.single){
                elem.addClass("ui-state-active").removeClass("ui-state-default");
            } else {
                elem.addClass("ui-state-default").removeClass("ui-state-active");
            }
        }',
        'Octavia.playback.single(this, !$(this).hasClass(\'ui-state-active\'))' ) }}
    {{ button('ui-icon-shuffle', 'Shuffle', 
        'playback',
        'function(event, data) {
            elem = $("div .ui-icon-shuffle").parent();
            if (data.random){
                elem.addClass("ui-state-active").removeClass("ui-state-default");
            } else {
                elem.addClass("ui-state-default").removeClass("ui-state-active");
            }
        }',
        'Octavia.playback.shuffle(this, !$(this).hasClass(\'ui-state-active\'))' ) }}
    {{ button('ui-icon-refresh', 'Single', 
        'playback',
        'function(event, data) {
            elem = $("div .ui-icon-refresh").parent();
            if (data.repeat){
                elem.addClass("ui-state-active").removeClass("ui-state-default");
            } else {
                elem.addClass("ui-state-default").removeClass("ui-state-active");
            }
        }',
        'Octavia.playback.repeat(this, !$(this).hasClass(\'ui-state-active\'))' ) }}
    {{ button('ui-icon-trash', 'Consume', 
        'playback',
        'function(event, data) {
            elem = $("div .ui-icon-trash").parent();
            if (data.consume){
                elem.addClass("ui-state-active").removeClass("ui-state-default");
            } else {
                elem.addClass("ui-state-default").removeClass("ui-state-active");
            }
        }',
        'Octavia.playback.consume(this, !$(this).hasClass(\'ui-state-active\'))' ) }}
    <script type="text/javascript">
        $(function(){
            function update(){
                Octavia.playback.update();
                Octavia.queue.status.update();
            }
            update()
            setInterval(update, 10000);
        });
    </script>
</div>
